.main{
  width: 80%;
  height: 50%;
  margin: auto;
}

.image{
  margin: auto;
  text-align: center;
  width: 39%;
}

.header{
  margin-top: 2rem;
  text-align: center;
}

.infoHeader{
  display: flex;
  margin-top: 3rem;
  justify-content: space-between;
}